#### **Simple Linear Regression**
* ###### **There will be an independent_variable and a dependent_variable.\nBest suited when there will the a linear relationship between the two variables.**

In [5]:
import pandas as pd

data = pd.read_csv('C:/Users/Abs_Sayem/Desktop/ML/machine_learning/ml_projects/data/house_price.csv', encoding='utf-8')
data

    sl_no   area  price
0       1   1600   1000
1       2   3200   2000
2       3   4800   3000
3       4   2400   1500
4       5   1200    800
5       6   1000    700
6       7   2000   1300
7       8   3000   1850
8       9   1800   1150
9      10   2100   1400
10     11   3600   2400
11     12   5200   3200
12     13   7800   4000
13     14  10000   5000